<!DOCTYPE html>
<html lang="en" prefix="og: https://ogp.me/ns#">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="google-site-verification" content="cnRMZlLDxXf8DfPZn7Cpn0U6rvKxLKkoG9FShwSS_qc"/>
    <title>Age of Queens - @ViewData["Title"]</title>
    <meta name="title" content="Age of Queens - an AOE Community">
    <meta name="description" content='@ViewData["Description"]'>
    <meta name="keywords" content="age of empires 2, aoe, aoe2, aoe2:de, women, girls, community, age of queens, aoq players, online, gaming, age-of-queens, age of empires, age of empires 2"/>
    <meta property="og:title" content="Age of Queens - a Community for and by women to enjoy Age of Empires together"/>
    <meta property="og:description" content='@ViewData["OgDescription"]'/>
    <meta property="og:image" content='@ViewData["OgImage"]'/>
    <meta property="og:url" content='@ViewData["OgUrl"]'/>
    <meta property="og:type" content="website"/>
    <link rel="canonical" href="https://age-of-queens.com"/>
    <link rel="icon" type="image/x-icon" href="~/Age_of_Queens_logo.ico">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Mate+SC&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-WLVM7KRY6S"></script>
    <script src="~/bundle.js"></script>   
</head>
<body>
    <header>
        <nav class="navbar navbar-dark navbar-expand-sm navbar-toggleable-sm box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">Age of Queens</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown">About us</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" asp-controller="AboutUs" asp-action="WhatIsAgeofqueens">What is Age of Queens?</a>
                                <a class="dropdown-item" asp-controller="AboutUs" asp-action="Introductions">Introductions</a>
                                <a class="dropdown-item" asp-controller="AboutUs" asp-action="PastEvents">Past Events</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Leaderboard" asp-action="Index">Leaderboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Mods" asp-action="Index">Mods</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Twitch" asp-action="Index">Twitch Team</a>
                        </li>
                        @await Component.InvokeAsync("AdminDisplay", 
                            new {myStr = "Hallo"})
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main role="main" class="pb-3">
        <div class="container">
            @RenderBody()
        </div>
    </main>
    <footer>
            <p>&copy; 2022 - Vinzenz Wetzel <img src="/images/GitHub-Mark-Light-32px.png"/><a href="https://github.com/DasEvoli"> DasEvoli</a></p>
    </footer>
    <script>window.AOS.init();</script>
    @RenderSection("Scripts", required: false)
</body>
</html>
