@model TwitchViewModel
@{
    ViewData["Title"] = "Twitch Team";
    ViewData["Description"] = "We have an official Twitch Team. Check our members and if someone is online.";
    ViewData["OgDescription"] = "We have an official Twitch Team. Check our members and if someone is online.";
    ViewData["OgImage"]="https://age-of-queens.com/images/og/age_of_queens_banner.png";
    ViewData["OgUrl"] = "https://age-of-queens.com/Twitch";
}

@if (Model.Team != null)
{
    <h1>@Model.Team.TeamDisplayName - Twitch Team</h1>
    <div id="twitchteam-info-container">
        <img src="@Model.Team.Banner" />
        <p>"@Model.Team.Info"</p>
    </div>
}
else 
{
    <div class="alert alert-warning" role="alert">Error while loading the content.</div>
}

<div id="accordion" style="margin-top:2em">
    <div class="card">
        <div class="card-header">
            <button class="btn big-button-font" data-toggle="collapse" data-target="#twitch-team-memberlist" aria-expanded="true">Show Members</button>
        </div>
        <div id="twitch-team-memberlist" class="collapse hide" data-parent="#accordion">
            <div class="card-body" id="twitch-team-members-container">
                @if (Model.Team != null && Model.Team.TeamMemberList != null && Model.UserList != null)
                {
                    @foreach (TwitchViewModel.Json.User item in Model.UserList)
                    {
                    <div class="twitch-team-member-container">
                        <a href="https://twitch.tv/@item.DisplayName" target="_blank"><img src="@item.ProfileImageUrl" /></a>
                        <h7>@item.DisplayName</h7>
                    </div>
                    }
                }
                else 
                {
                    <div class="alert alert-warning" role="alert">Error while loading the content.</div>
                }
            </div>
        </div>
    </div>
</div>
<div style="margin-top:2em">
    <h2>Currently Online</h2>
    <div id="online-streams-container" style="display:flex; flex-wrap:wrap">
        @if (Model.StreamsList != null)
        {
            @foreach (TwitchViewModel.Json.Stream item in Model.StreamsList)
            {
                <div class="twitch-iframe">
                    <p>@item.UserName</p>
                    <iframe src="https://player.twitch.tv/?channel=@item.UserName&parent=age-of-queens.com&autoplay=false" frameborder="0" allowfullscreen="true" scrolling="no" height="189" width="310"></iframe>
                </div>
            }
        }
        else 
        {
            <div class="alert alert-warning" role="alert">Error while loading the content.</div>
        }
    </div>
</div>
