@model ActiveEventViewModel
@{
    ViewData["Title"] = "Active Event";
    ViewData["Description"] = "Explore our current event and see when the next games will start.";
    ViewData["OgDescription"] = "Explore our current event and see when the next games will start.";
    ViewData["OgImage"]="https://age-of-queens.com/images/og/age_of_queens_banner.png";
    ViewData["OgUrl"] = "https://age-of-queens.com/ActiveEvent";
}

<div class="active-event">
    <h1>@Model.Title</h1>
    <p>@Model.Information</p>
    <img class="border-custom-aoq" src="@Model.Image">
</div>
<div class="active-event-gamelist">
    @if(Model.ActiveGameEventGameList != null)
    {
        @foreach (ActiveEventViewModel.ActiveEventGame item in Model.ActiveGameEventGameList)
        {
            <article>
                <div class="border-bottom active-event-gamelist-meta">
                    <span class="active-event-gamelist-date">@item.Date</span>
                    <span class="active-event-gamelist-mode">@item.Mode</span>
                </div>
                <div class="active-event-gamelist-teams">
                @for(int i = 0; i < item.ActiveEventTeams.Count; i++)
                {
                    if(i != 0){
                        <span class="active-event-gamelist-vs">vs.</span>
                    }
                    <span class="active-event-gamelist-team">@item.ActiveEventTeams[i]</span>
                }
                </div>
                <div class="border-bottom active-event-gamelist-maps">@item.Maps</div>
                <div class="active-event-gamelist-info">@item.Information</div>
            </article>
        }
    }
    else 
    {
        <div class="alert alert-warning" role="alert">Error while loading the content.</div>
    }
</div>
