@model ageofqueenscom.Models.ActiveEventViewModel

@{
    ViewData["Title"] = "Active Event";
}

<div id="active-event-title" class="border-bottom">
    <h1>CASTLE GALA</h1>
</div>

<div class="row">
    <div class="col-9">
        <div class="challonge-widget">
            <iframe src="https://challonge.com/de/bqag1j2f/module" width="100%" height="600" frameborder="0" scrolling="auto" allowtransparency="true"></iframe>
        </div>

        @if (Model.SeedSoloTables != null)
        {
            <div id="accordion">
                <div class="card">
                    <div class="card-header">
                        <button class="btn big-button-font" data-toggle="collapse" data-target="#active-event-soloseed" aria-expanded="true">
                            Solo Seed
                        </button>
                    </div>

                    <div id="active-event-soloseed" class="collapse hide" data-parent="#accordion">
                        <div class="card-body">

                            @foreach (ageofqueenscom.Code.SeedSoloTableModel item in Model.SeedSoloTables)
                            {
                                @if (item == null) continue;
                                <table class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            @if (item.ColNames != null)
                                            {
                                                @foreach (string stringItem in item.ColNames)
                                                {
                                                    <th scope="col">@stringItem</th>
                                                }
                                            }
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (item.Rows != null)
                                        {
                                            foreach (ageofqueenscom.Code.SeedSoloRowModel itemRow in item.Rows)
                                            {
                                                <tr onclick="window.open('@itemRow.AoeNetUrl')" class="clickable-hover">
                                                    <th scope="row">@itemRow.SeedNumber</th>
                                                    <td>@itemRow.PlayerName</td>
                                                    <td>@itemRow.SeedingElo</td>
                                                    <td>@itemRow.AoeNetUrl</td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            }

                        </div>
                    </div>
                </div>
            </div>
        }

        @if (Model.SeedTeamTables != null)
        {
            <div id="accordion">
                <div class="card">
                    <div class="card-header">
                        <button class="btn big-button-font" data-toggle="collapse" data-target="#active-event-teamseed" aria-expanded="true">
                            Team Seed
                        </button>
                    </div>

                    <div id="active-event-teamseed" class="collapse hide" data-parent="#accordion">
                        <div class="card-body">
                            @foreach (ageofqueenscom.Code.SeedTeamTableModel item in Model.SeedTeamTables)
                            {
                                @if (item == null) continue;
                                <table class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            @if (item.ColNames != null)
                                            {
                                                @foreach (string colName in item.ColNames)
                                                {
                                                    <th scope="col">@colName</th>
                                                }
                                            }
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (item.Rows != null)
                                        {
                                            foreach (ageofqueenscom.Code.SeedTeamRowModel row in item.Rows)
                                            {
                                                <tr>
                                                    <th scope="row">@row.SeedNumber</th>
                                                    <td>@row.TeamName</td>
                                                    <td>@row.TeamElo</td>
                                                    <td onclick="window.open('@row.PlayerOneAoeNetUrl')" class="
                                                        
                                                        
                                                        ">@row.PlayerOneName</td>
                                                    <td onclick="window.open('@row.PlayerTwoAoeNetUrl')" class="clickable-hover">@row.PlayerTwoName</td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            }

                        </div>
                    </div>
                </div>
            </div>


        }

    </div>
    <div class="col-3">
        <div class="card side-card" style="width: 18rem;">
            <div class="card-body">
                <H2 class="card-title">Rules</H2>
                <p class="card-text">Read the rules for this event</p>
                <a href="https://docs.google.com/document/d/1g9ZVjOPnELTYvzhOhELor3x0HQ9GU-eQBqgop1rVzTY/edit#heading=h.m4uj8ci77xn4" class="btn btn-primary" target="_blank">Click</a>
            </div>
        </div>
        <div class="card side-card" style="width: 18rem;">
            <div class="card-body">
                <H2 class="card-title">Sign up</H2>
                <p class="card-text">Sign up for this event</p>
                <a href="https://docs.google.com/document/d/1g9ZVjOPnELTYvzhOhELor3x0HQ9GU-eQBqgop1rVzTY/edit#heading=h.87z5z1d0ncax" class="btn btn-primary" target="_blank">Click</a>
            </div>
        </div>
        <div class="card side-card" style="width: 18rem;">
            <div class="card-body">
                <H2 class="card-title">Liquipedia</H2>
                <p class="card-text">See more information about this event</p>
                <a href="https://liquipedia.net/ageofempires/Castle_Gala" class="btn btn-primary" target="_blank">Click</a>
            </div>
        </div>
        <div class="card side-card" style="width: 18rem;">
            <div class="card-body">
                <H2 class="card-title">Maps</H2>
                <p class="card-text">Which maps will be played</p>
                <a href="https://docs.google.com/document/d/1g9ZVjOPnELTYvzhOhELor3x0HQ9GU-eQBqgop1rVzTY/edit#heading=h.f052sql7ykax" class="btn btn-primary" target="_blank">Click</a>
            </div>
        </div>
        <div class="card side-card" style="width: 18rem;">
            <img src="/Images/paypal.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <H2 class="card-title">Support us!</H2>
                <p class="card-text">Every donation will go to the next prize pool</p>
                <a href="https://www.paypal.com/paypalme/ageofqueens" class="btn btn-primary" target="_blank">Donate</a>
            </div>
        </div>
    </div>
    <div class="col-12">

        @if (Model.RosterTable != null)
        {
            <h2>Casting Roster</h2>
            <table class="table table-striped table-bordered" id="casting-roster-table">
                <thead>
                    <tr>
                        @foreach (string item in Model.RosterTable.RosterCols)
                        {
                            <th scope="col">@item</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @if (Model.RosterTable != null)
                    {
                        @foreach (ageofqueenscom.Code.CastRoasterRowModel item in Model.RosterTable.RosterRows)
                        {
                            <tr>
                                <th scope="row">@item.Round</th>
                                <td>@item.GameDate</td>
                                <td>@item.GameTime</td>
                                <td>@item.PlayerName</td>
                                @if (String.IsNullOrEmpty(item.StreamerName))
                                {
                                    <td></td>
                                }
                                else
                                {
                                    <td onclick="window.open('@item.StreamerUrl')" class="clickable-hover">@item.StreamerName (@item.StreamerLanguage)</td>
                                }

                                @if (String.IsNullOrEmpty(item.CasterName))
                                {
                                    <td></td>
                                }
                                else
                                {
                                    <td onclick="window.open('@item.CasterUrl')" class="clickable-hover">@item.CasterName (@item.CasterLanguage)</td>
                                }
                                <td>@item.CastDay</td>
                                <td>@item.CastTime</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        }
    
    </div>
</div>
