@model ActiveEventViewModel
@{
    ViewData["Title"] = "Active Event";
    ViewData["Description"] = "Explore our current event and see when the next games will start.";
    ViewData["OgDescription"] = "Explore our current event and see when the next games will start.";
    ViewData["OgImage"]="https://age-of-queens.com/images/og/age_of_queens_banner.png";
    ViewData["OgUrl"] = "https://age-of-queens.com/ActiveEvent";
}

<section id="active-event">
    <h1>@Model.Title</h1>
    <p>@Model.Information</p>
    <img id="border-special-aoq" src="@Model.Image">
</section>
<section id="active-event-gamelist">
    @if(Model.ActiveGameEventGameList != null)
    {
        @foreach (ActiveEventViewModel.ActiveEventGame item in Model.ActiveGameEventGameList)
        {
            <article class="shadow">
                <div id="active-event-gamelist-meta">
                    <p id="active-event-gamelist-date">@item.Date</p>
                    <p id="active-event-gamelist-mode">@item.Mode</p>
                </div>
                <div id="active-event-gamelist-teams">
                @for(int i = 0; i < item.ActiveEventTeams.Count; i++)
                {
                    if(i != 0){
                        <p>vs.</p>
                    }
                    <p id="active-event-gamelist-team">@item.ActiveEventTeams[i]</p>
                }
                </div>
                <p class="border-bottom padding-bottom-small">@item.Maps</p>
                <p>@item.Information</p>
            </article>
        }
    }
    else 
    {
        <div class="alert alert-warning" role="alert">Error while loading the content.</div>
    }
</section>
