@model ModsViewModel
@{
    ViewData["Title"] = "Mods";
    ViewData["Description"] = "Our girls are even creators of aoe modifications. Check them out here.";
    ViewData["OgDescription"] = "Our girls are even creators of aoe modifications. Check them out here.";
    ViewData["OgImage"]="https://age-of-queens.com/images/og/age_of_queens_banner.png";
    ViewData["OgUrl"] = "https://age-of-queens.com/Mods";
}

@if (Model.ModList != null)
{
    foreach (ModsViewModel.Mod mod in Model.ModList)
    {
        <div data-aos="fade-right">
            <div class="mod-container clickable-hover" onclick="window.open('@mod.ModUrl')">
                <img src="@mod.ImageUrl" />
                <div class="mod-content">
                    <h2>@mod.Title</h2>
                    <span>@mod.Category</span>
                    <p>@mod.Description</p>
                </div>
                <div class="mod-info">
                    <span>@mod.Creator - @mod.Date</span>
                </div>
            </div>
        </div>
    }
}
else 
{
    <div class="alert alert-warning" role="alert">Error while loading the content.</div>
}

@section scripts 
{
    <script>
        AOS.init();
    </script>
}