@model ageofqueenscom.Models.IntroductionsViewModel
@{
    ViewData["Title"] = "Introductions";
}



@if (Model.Introductions != null)
{
    foreach (ageofqueenscom.Code.IntroductionModel introduction in Model.Introductions)
    {
        <div class="player-introduction">
            <div class="row">
                <div class="col-2" style="text-align: center;">
                    <img src="/Images/@{@introduction.Name}.jpg" />
                </div>
                <div class="col-10">
                    <h2>@introduction.Name</h2>
                    <p>@introduction.Description</p>
                </div>
                <div class="player-introduction-buttons">
                    @if (!String.IsNullOrEmpty(introduction.TwitterUrl))
                    {<a href="@introduction.TwitterUrl" target="_blank" style="margin-left:1em"><img src="/Images/twitter_icon.png" class="icon"></a>}
                    @if (!String.IsNullOrEmpty(introduction.YoutubeUrl))
                    {<a href="@introduction.YoutubeUrl" target="_blank" style="margin-left:1em"><img src="/Images/youtube_icon.png" class="icon"></a>}
                    @if (!String.IsNullOrEmpty(introduction.TwitchUrl))
                    {<a href="@introduction.TwitchUrl" target="_blank" style="margin-left:1em"><img src="/Images/twitch_icon.png" class="icon"></a>}
                    @if (!String.IsNullOrEmpty(introduction.InstagramUrl))
                    {<a href="@introduction.InstagramUrl" target="_blank" style="margin-left:1em"><img src="/Images/instagram_icon.png" class="icon"></a>}
                </div>
            </div>
        </div>
    }
}

<!--
<div class="player-introduction">
    <div class="row">
        <div class="col-3">
            <img src="/Images/tinytriss.png" />
        </div>
        <div class="col-9">
            <p>TinyTriss is the founder of the Age of Queens community and its official Discord server. She has hosted multiple Age of Queens tournaments and enjoys participating in all sorts of Age of Empires events. Her first experience with AoE II involves watching her brother play in her early childhood. It didn’t take long until she started playing it herself with friends at LAN Parties. With the release of Age of Empires II: Definitive Edition in 2019, she rekindled her love for the game once again. Furthermore, she is a passionate streamer on Twitch who has been playing a variety of games for over 4 years. Recently she’s been streaming Age of Queens tournament games and ranked 1v1 matches.</p>
        </div>
        <div style=" margin-top: 1em; margin-left: 1em;">
            <button type="button" class="btn-primary btn">Twitter</button>
            <button type="button" class="btn-primary btn">Instagram</button>
            <button type="button" class="btn-primary btn">Twitch</button>
        </div>
    </div>
</div>
<div class="player-introduction">
    <div class="row">
        <div class="col-9">
            <p>
                LilTrouble is a partnered AoE II Twitch Streamer who is known for her creative ways of bringing people together over a shared love of Age of Empires. Since connecting with the game two years ago, LT has hosted and participated in many events, raised over $21,000 AUD for charity, and was the host of the Red Bull Wololo III tournament earlier this year. She has a passion for the ladder grind, and is currently enjoying the  AoE II campaigns for the first time. She is an active admin for the Age of Queens Discord server and the founder of the Age of Queens Twitch Team.
            </p>
        </div>
        <div class="col-3">
            <img src="/Images/liltrouble.jpg" />
        </div>
        <div style=" margin-top: 1em; margin-left: auto; margin-right:1em">
            <button type="button" class="btn-primary btn">Twitter</button>
            <button type="button" class="btn-primary btn">Instagram</button>
            <button type="button" class="btn-primary btn">Twitch</button>
        </div>
    </div>
</div>
    -->
