@model ageofqueenscom.Models.IntroductionsViewModel
@{
    ViewData["Title"] = "Introductions";
}



@if (Model.Introductions != null)
{
    foreach (ageofqueenscom.Models.IntroductionsViewModel.Introduction introduction in Model.Introductions)
    {
    <div data-aos="fade-right">
        <div class="player-introduction">
            <div class="row">
                    <img src="/Images/@{@introduction.Name}.jpg" />
                <div class="player-introduction-content">
                    <h2>@introduction.Name</h2>
                    <p>@introduction.Description</p>
                </div>
                <div class="player-introduction-buttons">
                    @if (!String.IsNullOrEmpty(introduction.TwitterUrl))
                    {<a href="@introduction.TwitterUrl" target="_blank" style="margin-left:1em"><img src="/Images/twitter_icon.png" class="icon"></a>}
                    @if (!String.IsNullOrEmpty(introduction.YoutubeUrl))
                    {<a href="@introduction.YoutubeUrl" target="_blank" style="margin-left:1em"><img src="/Images/youtube_icon.png" class="icon"></a>}
                    @if (!String.IsNullOrEmpty(introduction.TwitchUrl))
                    {<a href="@introduction.TwitchUrl" target="_blank" style="margin-left:1em"><img src="/Images/twitch_icon.png" class="icon"></a>}
                    @if (!String.IsNullOrEmpty(introduction.InstagramUrl))
                    {<a href="@introduction.InstagramUrl" target="_blank" style="margin-left:1em"><img src="/Images/instagram_icon.png" class="icon"></a>}
                </div>
            </div>
        </div>
    </div>
    }
}

@section scripts 
{
    <script>
        AOS.init();
    </script>
}
