@model IntroductionsViewModel
@{
    ViewData["Title"] = "Introductions";
    ViewData["Description"] = "Get to know our girls by reading their introductions.";
    ViewData["OgDescription"] = "Get to know our girls by reading their introductions.";
    ViewData["OgImage"]="https://age-of-queens.com/images/og/age_of_queens_banner.png";
    ViewData["OgUrl"] = "https://age-of-queens.com/AboutUs/Introductions";
}
<section>
    @if (Model.Introductions != null)
    {
        foreach (IntroductionsViewModel.Introduction introduction in Model.Introductions)
        {
        <article data-aos="fade-right" id="player-introduction" class="shadow">
            <img src="@Configuration["Directories:Images:Introductions"]@{@introduction.Name}.jpg" />
            <div id="player-introduction-content">
                <h2>@introduction.Name</h2>
                <p>@introduction.Description</p>
            </div>
            <div id="player-introduction-buttons">
                @if (!String.IsNullOrEmpty(introduction.TwitterUrl))
                {<a href="@introduction.TwitterUrl" target="_blank"><img src="@Configuration["Directories:Images:Icons"]twitter_icon.png"></a>}
                @if (!String.IsNullOrEmpty(introduction.YoutubeUrl))
                {<a href="@introduction.YoutubeUrl" target="_blank"><img src="@Configuration["Directories:Images:Icons"]youtube_icon.png"></a>}
                @if (!String.IsNullOrEmpty(introduction.TwitchUrl))
                {<a href="@introduction.TwitchUrl" target="_blank"><img src="@Configuration["Directories:Images:Icons"]twitch_icon.png"></a>}
                @if (!String.IsNullOrEmpty(introduction.InstagramUrl))
                {<a href="@introduction.InstagramUrl" target="_blank"><img src="@Configuration["Directories:Images:Icons"]instagram_icon.png"></a>}
            </div>
        </article>
        }
    }
    else 
    {
        <div class="alert alert-warning" role="alert">Error while loading the content.</div>
    }
</section>
